<!DOCTYPE html>
<html>
  <head>
    <title>FullCalender</title>
    <meta name="robots" content="noodp"/>
    <meta content='1227770719' property='fb:admins'/>
    <meta content="shailesh prajapati" name="author" />
    <meta property="og:title" content="Full calendar using fullcalendar jquery plugin"/>
    <meta name="twitter:title" content="full calendar in rails: full calendar in rails using fullcalendar-rails gem"/>
    <meta name="twitter:description" content="full calendar in rails: full calendar in rails using fullcalendar-rails gem"/>
    <meta content="website" property="og:type" />
    <meta content="https://full-calender-example.herokuapp.com/" property="og:url" />
    <meta content=("full-calender-example.herokuapp.com India") property="og:site_name" />
    <meta content="en_IN" property="og:locale" />
    <meta content="full calendar in rails using fullcalendar-rails gem" property="og:description" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"%>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"%>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
