<!DOCTYPE html>
<html>
  <head>
    <title>FullCalender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"%>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
